<?xml version='1.0' encoding='UTF-8'?>
<!--
General Settings for BTfast
-->
<Settings>

    <Input>
        <Name>    MAIN_DIR    </Name>
        <Value>   /Users/Andrea/GitHub/BTfast
        <!--    /Users/Andrea/GitHub/BTfast     -->
        <!--    /u/d/desimon/BTfast     -->
        </Value></Input>
    <Input>
        <Name>    RUN_MODE    </Name>
        <!-- 0:    No trade (for debugging)
             1:    Single Backtest
             2:    Optimization (Exhaustive Parallel)
             22:   Optimization (Genetic Parallel)
             222:  Optimization (Exhaustive Serial)
             3:    Validation for Single Strategy (Backtest + Validation)
             4:    Strategy Factory (Sequential Generation + Validation)
             44:   Strategy Factory (Exhaustive Generation + Validation)
             444:  Strategy Factory (Genetic Generation + Validation)
             4444: Strategy Factory (Import Generation Results + Validation)
             6:    Market overview (no trades)
         -->
        <Value> 4444
        </Value></Input>

    <!-- =======================    MAIN SETTINGS    ====================== -->
    <Input>
        <!-- Available strategies (should match .xml filenames):
             BOtest, MasterCode, MRtest,
             template,test,NG1,NG2,NG3,NG4,NG5,NG6
        -->
        <Name>    STRATEGY_NAME     </Name>
        <Value>   MasterCode
        </Value></Input>
    <Input>
        <Name>    SYMBOL_NAME     </Name>
        <Value>   GC
        </Value></Input>
    <Input>
        <Name>    TIMEFRAME    </Name>
        <!-- Mx mins for x min bars, D for session -->
        <Value>   M10
        </Value></Input>

    <Input>
        <!-- Start date (included). Format: YYYY-MM-DD
            (0 for first date on file)  -->
        <Name>  START_DATE      </Name>
        <Value>  2011-01-01        <!-- 2014-01-01 2007-10-29 -->
        </Value></Input>
    <Input>
        <!-- End date (included). Format: YYYY-MM-DD
            (0 for last date on file)  -->
        <Name>  END_DATE        </Name>
        <Value> 2019-12-31      <!-- 2014-02-03 2007-11-06 -->
        </Value></Input>
    <!-- ================================================================== -->

    <!-- ========================    INPUT DATA    ======================== -->
    <Input>
        <Name>    DATA_DIR    </Name>
        <Value>   /Users/Andrea/Documents/PriceData
        <!--      /Users/Andrea/Documents/PriceData  -->
        <!--      /u/d/desimon/PriceData  -->
        </Value></Input>
    <Input>
        <!-- Name of file containing data (included in DATA_DIR) -->
        <Name>    DATA_FILE     </Name>
        <Value>  GC/GC_M10_2010-2014_2018-2019.csv
            <!-- GC_M10_2010-2019.csv    -->                  <!-- format = 1 -->
            <!-- GC_M10_2010-2014_2018-2019.csv -->         <!-- format = 1 -->
            <!-- GC_M15_2015-2017.csv -->                   <!-- format = 1 -->
            <!-- NG_D_2004_2014.csv    -->                  <!-- format = 2 -->
            <!-- NG_M10_2007-2019_DXT.csv -->               <!-- format = 3 -->
            <!-- NG_M10_2010-2014_2018-2019_DXT.csv -->     <!-- format = 3 -->
            <!-- NG_M10_2007-2012_2018-2019_DXT.csv -->     <!-- format = 3 -->
            <!-- NG_M10_2013-2017_DXT.csv -->               <!-- format = 3 -->
        </Value></Input>
    <Input>
        <!-- Data format of CSV file
             1 = intraday data exported from TradeStation
             2 = daily data exported from TradeStation
             3 = intraday data exported from DXT (CSV)
        -->
        <Name>    CSV_FORMAT    </Name>
        <Value>   1
        </Value></Input>
    <Input>
        <Name>    DATAFEED_TYPE     </Name>
        <Value>   CSV                  <!-- CSV (SQLite) -->
        </Value></Input>
    <!-- ================================================================== -->

    <!-- =====================    PRINTING/PLOTTING    ==================== -->
    <!-- Switches to control printing/plotting -->
    <Input>
        <!-- 0: false, 1: true -->
        <Name>    PRINT_PROGRESS     </Name>
        <Value>   0
        </Value></Input>
    <Input>
        <!-- Print performance report on stdout and on file -->
        <!-- 0: false, 1: true -->
        <Name>    PRINT_PERFORMANCE_REPORT     </Name>
        <Value>   0
        </Value></Input>
    <Input>
        <!-- Print list of transactions on stdout and on file -->
        <!-- 0: false, 1: true -->
        <Name>    PRINT_TRADE_LIST     </Name>
        <Value>   0
        </Value></Input>
    <Input>
        <!-- Write trade history to file (profits.csv) and show equity line (via gnuplot) -->
        <!-- 0: false, 1: true -->
        <Name>    WRITE_TRADES_TO_FILE  </Name>
        <Value>   0
        </Value></Input>
    <!-- ================================================================== -->

    <!-- ===================== GENETIC OPTIMIZATION    ==================== -->
    <Input>
        <!-- Performance metric to sort optimization results (utils_optim::sort_by_metric)
             and as GA fitness (Invididual::compute_individual_fitness)
             Choose among:
             AvgTicks, WinPerc, ProfitFactor, NP/MDD, Expectancy, Z-score -->
        <Name>    FITNESS_METRIC     </Name>
        <Value>   Z-score
        </Value></Input>
    <Input>
        <!-- Number of individuals in population -->
        <Name>    POPULATION_SIZE     </Name>
        <Value>   2
        </Value></Input>
    <Input>
        <!-- Max number of generations -->
        <Name>    GENERATIONS     </Name>
        <Value>   2
        </Value></Input>
    <!-- ================================================================== -->

    <Input>
        <!-- Max intraday bars to keep in history
         for each bar collection and indicator (default = 100) -->
        <Name>    MAX_BARS_BACK     </Name>
        <Value>   100
        </Value></Input>
    <Input>
        <!-- Initial account balance -->
        <Name>    INITIAL_BALANCE     </Name>
        <Value>   10000000
        </Value></Input>
    <Input>
        <!-- Position size: fixed_size, fixed_notional, fixed_fractional  -->
        <Name>    POSITION_SIZE_TYPE     </Name>
        <Value>   fixed_size
        </Value></Input>
    <Input>
        <!-- Number of contracts to use in "fixed_size" position size -->
        <Name>    NUM_CONTRACTS     </Name>
        <Value>   1
        </Value></Input>
    <Input>
        <!-- Fraction in [0,1] to use in "fixed_fractional", "fixed_notional"-->
        <Name>    RISK_FRACTION     </Name>
        <Value>   0.1
        </Value></Input>
    <Input>
        <!-- 0: false, 1: true -->
        <Name>    INCLUDE_COMMISSIONS     </Name>
        <Value>   0
        </Value></Input>
    <Input>
        <!-- Max number of slippage ticks -->
        <Name>    SLIPPAGE     </Name>
        <Value>   0
        </Value></Input>

    <!-- ========================    VALIDATION    ======================== -->
    <Input>
        <!-- Name of file containing Out-of-Sample data (included in DATA_DIR)
             (Same CSV_FORMAT and DATAFEED_TYPE as DATA_FILE) -->
        <Name>    DATA_FILE_OOS     </Name>
        <Value>   GC/GC_M10_2015-2017.csv
        </Value></Input>
    <Input>
        <!-- Percentage of max variation (stability test) -->
        <Name>    MAX_VARIATION_PCT     </Name>
        <Value>   40
        </Value></Input>
    <Input>
        <!-- Number of noise tests (runs with price randomization) -->
        <Name>    NOISE_TESTS     </Name>
        <Value>   100
        </Value></Input>
    <!-- ================================================================== -->


</Settings>
